MYSQL_DATABASE=coaim
MYSQL_USER=coaim_app
MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_PASSWORD=change-me-app

MEILI_MASTER_KEY=change-me-meili-key
MEILI_INDEX_PRODUCTS=products

SMARTSHOP_ADMIN_PASSWORD=change-me-admin
SMARTSHOP_PAYMENT_PRIVATE_TOKEN=change-me-private-token
SMARTSHOP_PAYMENT_PUBLIC_TOKEN=change-me-public-token
SMARTSHOP_PAYMENT_URL=https://gateway-154.netpaydev.com/gateway-ecommerce/v3/token/amount

SPRING_DATA_REDIS_HOST=mutual-bobcat-45430.upstash.io
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_USERNAME=default
SPRING_DATA_REDIS_PASSWORD=change-me-redis
SPRING_DATA_REDIS_SSL_ENABLED=true
